SECRET_KEY=fake-secret-key-for-dev
STRIPE_PUBLIC_KEY=pk_live_
STRIPE_SECRET_KEY=sk_live_
STRIPE_WEBHOOK_SECRET=whsec_
ADMIN_PASSWORD = "admin"

MAIL_SERVER=smtp-relay.brevo.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USE_SSL=False
MAIL_USERNAME=username@smtp-brevo.com
MAIL_PASSWORD=smtp-password
MAIL_DEFAULT_SENDER=smtp@server.com